<header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a
                        href="mailto:contact@example.com">contact@example.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            {% if user.is_authenticated %}
                <span class="text-white">Welcome, {{user.username}}-(Patient)</span>
            {% endif %}
            {% if  request.session.doctor_id %}
                <span class="text-white">Welcome, {{request.session.doctor_name}}-(Doctor)</span>
            {% endif %}
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename">Medilab</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url "home" %}" class="active">Home<br></a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "home" %}">Bookings</a></li>
                        <li><a href="{% url "extra" %}">Account</a></li>
                    {% elif request.session.doctor_id %}
                        <li><a href="{% url "home" %}#about">Bookings</a></li>
                        <li><a href="{% url "dprofile" %}">Profile</a></li>
                    {% else %}
                        <li><a href="{% url "home" %}#about">About</a></li>
                        <li><a href="{% url "home" %}#services">Services</a></li>
                        <li><a href="{% url "extra" %}#gallery">Gallery</a></li>
                        <li><a href="{% url "extra" %}#contact">Contact</a></li>
                    {% endif %}
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>


            {% if user.is_authenticated %}
                <a class="cta-btn d-none d-sm-inline-block me-2"  href="{% url "all-doctors" %}">Make Appointment</a>
                {% if user.is_superuser %}
                <a class=" btn btn-success d-none d-sm-inline-block ms-0 me-2" href="/admin">Dashboard</a>
                {% endif %}
                <a class=" btn btn-outline-danger d-none d-sm-inline-block ms-0" href="{% url "logout" %}">Logout</a>
            {% elif request.session.doctor_id %}
                <a class=" btn btn-outline-danger d-none d-sm-inline-block ms-2" href="{% url "dlogout" %}">Logout</a>
            {% else %}
                <a class="cta-btn d-none d-sm-inline-block me-2"  href="{% url "login" %}">Login</a>
                <a class="cta-btn d-none d-sm-inline-block ms-0" href="{% url "register" %}">Register</a>
            {% endif %}
        

      

        </div>

    </div>

</header>